.header {
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 0px 20px ;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    /* padding: 5px; */
    width: 200px;
    height: 420px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    padding: 5px;
    width: 190px;
}

.filter-btn {
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

/* Shimmer UI */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 8px;           
}

.login {
    margin-left: auto;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
